/* Meu padrão de cores */

:root{
    --color-page-background: #333333;
    --color-box-background:#404040;
    --color-sub-box-background:#4d4d4d;
    --color-line-separator: #c41f28;
    --color-title:#f3efed;
    --color-subtitle:#f3efed;
    --color-paragraph:#f3efed;
    --color-hyperlink:#38b6ff;
    --color-hmap:#ffbd59;
}

header{
    margin-top: 10%;
}

body{
    background: var(--color-page-background);
    margin: 2vh 2vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1{
    color: var(--color-title);
}

h2{
    color: var(--color-subtitle); 
}

h3{
    color: var(--color-subtitle);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.hmap-no-background{
    width: 60vw;
    display: inline-flex;
}

.hmap-no-background img{
    width: 20vw;
    height: 20vh;
    position: relative;
    align-items: left;
}

.hmap-no-background h1{
    position: relative;
    align-items: center;
    align-self: center;
    margin-left: 1vw;
    font-size: 4rem;
    line-height: 5rem; 
}

hr{
   width: 60vw;
   margin-top: 0.5vh;
   border-color: var(--color-line-separator);
   border-bottom: 0.5vh solid var(--color-line-separator); 
}

.social-box{
    background-color: var(--color-box-background);
    margin-top: 0.5vh;
    width: 58vw;
    height: 6vh;
    padding: 0 2vw 0 2vw;
    display: inline-flex;
    align-content: center;
}

.social-box #container{ 
    display: flex;
    align-content: center;
}

.social-box img{
    width: 10vw;
    height: 6vh;  
    margin-right: 6vw;
    display: inline-flex;
    align-content: center;  
}

.about{
    background-color: var(--color-sub-box-background);
    width: 58vw;
    height: 12vh;
    margin-top:1vh;
    padding: 1vh;
    display: flex;
    flex-direction: column;
}

.about h2{
    font-size: 2rem;
    flex-direction: column;
}

.about p{
    color: var(--color-subtitle);
    font-size: 1.5rem;
    margin-top: 1vh;
    text-align: justify;
    flex-direction: column;
}

.project-box {
    margin-top: 2vh;
    display: inline-flex;
}

.project-main-box {
    background-color: var(--color-box-background);
    width: 58vw;
    height: 32vh;
    padding-left: 2vw;
    padding-right: 2vw; 
}

.project-main-box h2{
    font-size: 2rem;
    display: inline-flex;
}

.project-main-box h3{
    font-size: 2rem;
    margin-top: 2vh;
    display: inline-flex;
}

.project-main-box p{
    color: var(--color-subtitle);
    font-size: 1.5rem;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: justify;
    flex-direction: column;
}

.project-main-box a{
    color: var(--color-hyperlink);
    font-size: 2rem;
    text-align: left;
    flex-direction: column;
}

.project-main-box img{
    margin-left: 38vw;
    width: 5vw;
    display: inline-flex;
}

.project-sub-box {
    background-color: var(--color-sub-box-background);
    width: 20vh;
    height: 32vh;
    
}

.project-sub-box img{
    width: 10vw;
    height: 10vw;
    margin-bottom: 1vh;
}

.project-sub-box h3{
    font-size: 2rem;
    margin-top: 5vh;
    margin-left: 1vh;
}

.project-sub-box-column-one {
    margin: 2vh 3vw 0 4.5vw;
    display: inline-flex;
    flex-direction: column;
}

.project-sub-box-column-two {
    margin: 2vh 4.5vw 0 3vw;
    width: 10vw;
    display: inline-flex;
    flex-direction: column;
}

footer{
    margin: 2vh 2vw;
}

.footer-background {
    background-color: var(--color-box-background);

    width: 98vw;
    height: 6vh;    
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer hr{
    width: 98vw;
    margin-bottom: 0.5vh;
    border-color: var(--color-line-separator);
    border-bottom: 0.5vh solid var(--color-line-separator); 
}

footer p{
    color: var(--color-hmap);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  
}